<nav th:fragment="menu">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 mb-3 border-bottom sticky-top"
        style="background-color: #c62020;">
        <div class="ps-2 col-md-3">
            <img th:src="@{/images/logo.png}" width="80px" height="80px">
        </div>

        <ul class="nav">
            <li class="nav-item">
                <a th:href="@{/}" class="nav-link nav text-center">
                    <i class="fa-solid fa-house fa-lg"></i><br>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/productos/indexPaginado}" class="nav-link nav text-center">
                    <i class="fa-solid fa-drumstick-bite fa-lg"></i><br>
                    Productos
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/categorias/indexPaginado}" class="nav-link nav text-center">
                    <i class="fa-solid fa-tags fa-lg"></i><br>
                    Categorías
                </a>
            </li>
        </ul>

        <div class="pe-2 col-md-3 text-end">
            <button type="button" class="btn btn-dark">Crea tu cuenta</button>
            <button type="button" class="btn btn-dark">Ingresa</button>
            <a th:href="@{/carrito}" class="btn text-black" title="Carrito">
                <i class="fa-solid fa-cart-shopping fa-lg"></i>
            </a>
        </div>
    </header>
</nav>
