<section class="w-100 mb-3" th:fragment="menu">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-image: url('/images/fondo.jpg');">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler collapsed" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="navbar-collapse collapse" id="navbarSupportedContent" style="">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" th:href="@{/}"> <img th:src="@{/images/logo.png}" height="50"
                        alt="SGP-VADU Logo">
                </a>
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link text-white" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item"><a class="nav-link text-white"
                            th:href="@{/productos/indexPaginado}">Productos</a></li>
                    <li class="nav-item"><a class="nav-link text-white"
                            th:href="@{/categorias/indexPaginado}">Categorias</a></li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
            <div class="pe-2 col-md-3 text-end">
                <button type="button" class="btn btn-secondary">Crea tu cuenta</button>
                <button type="button" class="btn btn-secondary">Ingresa</button>
            </div>
            <!-- Right elements -->
            <div class="d-flex align-items-center">

                <!-- Shopping Card -->
                <a class="text-reset me-3 dropdown-toggle hidden-arrow" th:href="@{/carrito}" role="button"> <i
                        class="fas fa-shopping-cart fa-lg text-white"></i> <span
                        class="badge rounded-pill badge-notification" style="background-color: #c62020;">1</span>
                </a>

                <!-- Avatar -->
                <div class="dropdown">
                    <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                        id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="33"
                            alt="Black and White Portrait of a Man" loading="lazy">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</section>