<div th:fragment="pie">
    <ul class="nav justify-content-center pt-3 pb-2">
        <li class="ms-3">
            <a class="text-black text-center" href="#" title="Twitter">
                <i class="fa-brands fa-twitter fa-lg"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-black text-center" href="#" title="Instagram">
                <i class="fa-brands fa-instagram fa-lg"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-black text-center" href="#" title="Facebook">
                <i class="fa-brands fa-facebook fa-lg"></i>
            </a>
        </li>
    </ul>
    <p class="text-center text-muted">© 2023 UD2 Developers</p>
</div>