<footer class="text-center text-white" th:fragment="pie">
    <!-- Grid container -->
    <div class="p-2" style="background-color: #0b0b0b">
        <!-- Section: Social media -->
        <section>
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fab fa-facebook-f"></i></a>

            <!-- WhatsApp -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-whatsapp"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 bg-black">
        &copy; 2023 Custom
        Apparel, Inc. | WebApp Desarrollada con Spring Boot 2.1.2 | Autor: UD2
        Developers
    </div>
    <!-- Copyright -->
</footer>