<meta charset="UTF-8">
<footer class="text-center text-white pt-4" th:fragment="pie">
    <!-- Grid container -->
    <div class="p-2" style="background-color: #0b0b0b">
        <!-- Section: Social media -->
        <section>
            <!-- WhatsApp -->
            <a class="btn btn-outline-light btn-floating m-1" role="button" data-mdb-toggle="modal"
                data-mdb-target="#whatsapp"><i class="fab fa-whatsapp"></i>
            </a>
            <!-- Modal -->
            <div class="modal fade" id="whatsapp" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header border-bottom-0">
                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="container text-black">
                            <h5 class="modal-title text-uppercase mb-3 mt-2" id="exampleModalLabel">Escanee el siguiente
                                código</h5>
                            <img th:src="@{/images/qr.jpeg}" style="width: 175px;" alt="logo">
                            <h5 class="modal-title text-uppercase mt-3 mb-5" id="exampleModalLabel">+52 56 1711 2033
                            </h5>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" th:href="@{https://github.com/Usiel06/SGP-VADU.git}"
                role="button"><i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 bg-black">
        &copy; 2023 SGP-VADU | WebApp Desarrollada con Spring Boot 3.0.5 | Autor: UD2
        Developers
    </div>
    <!-- Copyright -->
</footer>