<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" th:href="@{/images/logo.png}">
<title>SGP-VADU | Carrito de compras</title>
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<header th:insert="fragmentos/menu.html::menu"></header>

	<hr>
	<section class="h-100">
		<div class="container py-2">
			<div class="row d-flex justify-content-center my-4">
				<div class="col-md-8">
					<div class="card mb-4">
						<div class="card-header py-3 text-white"
							style="background-color: #c62020;">
							<h4 class="mb-0" th:text="'Carrito - ' + ${cantidad} + ' items'"></h4>
						</div>
						<div class="card-body bg-light">
							<div class="row" th:each="carrito:${carritos}">
								<div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
									<img th:src="@{/images/{img}(img=${carrito.producto.imagen})}"
										class="card-img-top" width="150px" height="175px">
								</div>
								<div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
									<p>
										<h4><strong
											th:text="${carrito.producto.nombre} + ' - ' + ${carrito.producto.categoria.nombre}"></strong></h4>
									</p>
									<p th:text="'Descripción: ' + ${carrito.producto.descripcion}"></p>
									<a th:href="@{/carrito/eliminar(id=${carrito.id})}"
										class="btn btn-danger btn-sm me-1 mb-2"
										title="Eliminar item de carrito"> <i
										class="fa-solid fa-trash"></i>
									</a>
								</div>
								<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
									<div class="d-flex mb-4" style="max-width: 300px">
										<button class="btn btn-primary px-3 me-2"
											onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
											<i class="fa-solid fa-minus"></i>
										</button>
										<div class="form-group">
											<input id="form1" min="0" name="cantidad" value="0"
												type="number" class="form-control" style="height: 35px" />
											<label class="form-label ms-4" for="form1">Cantidad(kg)</label>
										</div>
										<button class="btn btn-primary px-3 ms-2"
											onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
											<i class="fa-solid fa-plus"></i>
										</button>
									</div>
									<p class="text-start text-md-center">
										<strong th:text="'$' + ${carrito.producto.precioKg}"></strong>
									</p>
								</div>
								<hr class="my-4" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 bg-light text-white">
						<div class="card-header py-3" style="background-color: #c62020;">
							<h5 class="mb-0">Total</h5>
						</div>
						<div class="card-body">
							<ul class="list-group list-group-flush list-light">
								<li
									class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 bg-light">
									Total por productos <span th:text="'$' + ${total}"></span>
								</li>
								<li
									class="list-group-item d-flex justify-content-between align-items-center px-0">
									Envío <span>Gratis</span>
								</li>
								<li
									class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
									<div>
										<strong>Monto total a pagar</strong> <strong>
											<p class="mb-0">(Incluyendo IVA)</p>
										</strong>
									</div> <span><strong th:text="'$' + ${total+25}"></strong></span>
								</li>
							</ul>
							<button type="button" class="btn btn-success btn-lg btn-block">
								Realizar compra</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="sticky-bottom bg-light"
		th:insert="fragmentos/pie.html::pie"></footer>

	<script th:src="@{https://kit.fontawesome.com/6626a63f5b.js}"
		crossorigin="anonymous"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>