<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/logo.png}">
    <title>SGP-VADU | Formulario de Registro</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <link rel="stylesheet" th:href="@{/mdb5/css/mdb.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <header class="sticky-top" th:insert="~{fragmentos/menu.html::menu}"></header>

    <div th:insert="~{fragmentos/social.html::social}"></div>

    <!-- Section: Design Block -->
    <section class="text-center pb-5">
        <!-- Background image -->
        <div class="bg-image" style="background-image: url('/images/banner.jpg'); height: 300px;"></div>
        <!-- Background image -->

        <div class="container py-5">
            <div class="card container shadow-5-strong" style="margin-top: -175px; max-width: 50rem">
                <div class="card-body py-5 px-md-5 text-black">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <h2 class="fw-bold mb-5">Formulario de Registro</h2>
                            <form method="post" th:action="@{/guardar}">
                                <!-- 2 column grid layout with text inputs for the first and last names -->
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
										    <input type="text" class="form-control" id="validationCustom01" name="nombre" autofocus required pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$"/>
										    <label for="validationCustom01" class="form-label" name="nombre"><strong class="text-danger">*</strong> Nombre(s)</label>
									    </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
										    <input type="text" class="form-control" id="validationCustom02" name="apellidoPaterno" required pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$"/>
										    <label for="validationCustom02" class="form-label" name="apellidoPaterno"><strong class="text-danger">*</strong> Apellido Paterno</label>
									    </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
										    <input type="text" class="form-control" id="validationCustom03" name="apellidoMaterno" required pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$"/>
										    <label for="validationCustom03" class="form-label" name="apellidoMaterno"><strong class="text-danger">*</strong> Apellido Materno</label>
									    </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
									      	<input type="text" class="form-control" id="validationCustom04" name="username" required />
									      	<label for="validationCustomUsername" class="form-label"><strong class="text-danger">*</strong> Username</label>
									    </div>
                                    </div>
                                </div>

                                <!-- Email input -->                                
                                <div class="input-group form-outline mb-4">
                                	<span class="input-group-text" id="inputGroupPrepend">@</span>
								    <input type="email" class="form-control" id="validationCustom05" name="email" required />
								    <label for="validationCustom04" class="form-label"><strong class="text-danger">*</strong> E-mail</label>
							    </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
								    <input type="password" class="form-control" id="validationCustom06" name="password"  required/>
								    <label for="validationCustom05" class="form-label"><strong class="text-danger">*</strong> Password</label>
							    </div>

                                <!-- Submit button -->
                                <button type="submit" class="btn btn-block text-white mb-2" style="background-color: #c62020;">Registrarme</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" th:src="@{https://kit.fontawesome.com/6626a63f5b.js}"></script>
    <script type="text/javascript" th:src="@{/mdb5/js/mdb.min.js}"></script>
</body>

</html>