<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/images/logo.png}">
    <title>SGP-VADU | Sistema de Gestión de Procesos</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<header th:insert="fragmentos/menu.html::menu"></header>

<h2 class="text-center text-capitalize">EN VENTA</h2>
<hr>
<div class="container pb-5 mb-4">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col text-center" th:each="producto:${productos}">
            <div class="card">
                <div class="card-header text-center bg-light">
                    <img th:src="@{/images/{img}(img=${producto.imagen})}"
                         class="card-img-top" width="215px" height="250px">
                </div>
                <div class="card-body text-white text-center"
                     style="background-color: #c62020;">
                    <h4 class="card-title pt-2" th:text="${producto.nombre}"></h4>
                    <h6>
                        <strong>Precio por kg:</strong> <span
                            th:text="'$' + ${producto.precioKg}"></span>
                    </h6>
                </div>
                <div class="card-footer bg-dark">
                    <a th:href="@{/agregar(id=${producto.id})}" onclick="return alert('El producto se agregó correctamente al carrito')" class="btn btn-success mt-2 mb-2"
                       title="Agregar a Carrito"><i
                            class="fa-solid fa-cart-shopping fa-lg"></i> Agregar al carrito
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<footer class="fixed-bottom bg-light"
        th:insert="fragmentos/pie.html::pie"></footer>

<script th:src="@{https://kit.fontawesome.com/6626a63f5b.js}"
        crossorigin="anonymous"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>
