<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" th:href="@{/images/logo.png}">
<title>SGP-VADU | Creación de Categorías</title>
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<header th:insert="fragmentos/menu.html::menu"></header>

	<main role="main">
		<hr>
		<div class="container">
			<div class="card text-white">
				<h4 class="card-header" style="background-color: #c62020;">
					<strong>Datos de la categoría</strong>
				</h4>
				<div class="card-body bg-dark">
					<form method="post" th:action="@{/categorias/agregar}"
						th:object="${categoria}">
						<div class="row">
							<div class="col-md-15">
								<div class="form-group">
									<label for="nombre">Nombre</label> <input type="hidden"
										th:field="*{id}"> <input type="text"
										class="form-control mt-2 mb-2" th:field="*{nombre}"
										id="nombre" name="nombre" th:value="${categoria.nombre}"
										placeholder="Escriba el nombre de la categoria"
										required="required">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-15">
								<div class="form-group">
									<label for="descripcion">Descripción</label>
									<textarea class="form-control mt-2" th:field="*{descripcion}"
										name="descripcion" id="descripcion" rows="2"
										th:text="${categoria.descripcion}"></textarea>
								</div>
							</div>
						</div>
						<hr>
						<div class="text-center">
							<button type="submit" class="btn btn-success">Guardar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /container -->

	</main>

	<footer class="fixed-bottom bg-light"
		th:insert="fragmentos/pie.html::pie"></footer>

	<script th:src="@{https://kit.fontawesome.com/6626a63f5b.js}"
		crossorigin="anonymous"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>
