<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/logo.jpeg}">
    <title>SGP-VADU | Detalles del producto</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <link rel="stylesheet" th:href="@{/mdb5/css/mdb.min.css}" />
</head>

<body>
    <header class="sticky-top" th:insert="~{fragmentos/menu.html::menu}"></header>

    <hr>
    <div class="container">
        <div class="card mb-3 bg-light border border-black text-black">
            <div class="row">
                <div class="col-md-4">
                    <div class="bg-image hover-overlay hover-zoom ripple rounded">
                        <img th:src="@{/images/{img}(img=${producto.imagen})}" th:alt="${producto.nombre}"
                            class="img-fluid rounded-start" />
                    </div>
                </div>
                <div class="col-md-8">
                    <form method="post" th:action="@{/carrito/agregar}">
                        <input type="hidden" th:value="${producto.id}" name="idProducto">
                        <ul class="list-group">
                            <li class="list-group-item px-3 bg-light border-light" style="height: 3.5rem">
                                <h2 class="card-title text-black pt-2" th:text="${producto.nombre}"></h2>
                            </li>
                            <li class="list-group-item px-3 bg-light border-light" style="height: 7.5rem">
                                <p class="fs-4 text-black pe-5" style="text-align: justify;"
                                    th:text="'Información de la categoría: ' + ${producto.categoria.nombre} + ' | ' + ${producto.categoria.descripcion}">
                                </p>
                            </li>
                            <li class="list-group-item px-3 bg-light border-light" style="height: 5.9rem">
                                <p class="fs-4 text-black" th:text="${producto.descripcion}"></p>
                            </li>
                            <li class="list-group-item px-3 bg-light border-light" th:unless="${producto.estatus==1}"
                                style="height: 4rem"><span class="fs-4 text-black"
                                    th:text="'$' + ${producto.precioKg} + ' (kg)'" style="font-weight: bold"></span>
                            </li>
                            <li class="list-group-item px-3 bg-light border-light" style="height: 4.3rem"><span
                                    th:if="${producto.estatus==1}"
                                    class="badge badge-success rounded-pill d-inline fs-4">En
                                    Venta</span> <span th:unless="${producto.estatus==1}"
                                    class="badge badge-danger rounded-pill d-inline fs-4">Descontinuado</span></li>
                            <li class="list-group" th:if="${producto.estatus==1}">
                                <ul class="list-group list-group-horizontal-sm">
                                    <li class="list-group-item text-center bg-light border-light"><button
                                            class="btn btn-black btn-sm fs-6" type="submit"><i
                                                class="fa-solid fa-cart-shopping fa-lg"></i> Agregar a
                                            carrito</button></li>
                                    <li class="list-group-item text-center px-5 mx-4 bg-light border-light">
                                       <input type="number" id="cantidad" name="cantidad"
                                            class="form-control w-100" placeholder="Cantidad (kg)"/>
                                    </li>
                                    <li class="list-group-item text-center bg-light border-light"><span
                                            class="fs-4 text-black" th:text="'$' + ${producto.precioKg} + ' (kg)'"
                                            style="font-weight: bold"></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <footer class="fixed-bottom" th:insert="~{fragmentos/pie.html::pie}"></footer>

    <script type="text/javascript" th:src="@{https://kit.fontawesome.com/6626a63f5b.js}"></script>
    <script type="text/javascript" th:src="@{/mdb5/js/mdb.min.js}"></script>
</body>

</html>